Fabric==1.4.3
Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
argparse==1.2.1
boto==2.5.2
eventlet==0.9.17
greenlet==0.4.0
invar==0.0.14
itsdangerous==0.23
pycrypto==2.6
ssh==1.7.14
wsgiref==0.1.2
